@import 'normalize';
$dark: #424652;
$light: #9a9da4;
$white: #FFFFFF;
$highlight: #34aedb;
$border: #E9E9E9;

* {
  box-sizing: border-box;
}

body {
  // border: 1px solid yellow;
  font-family: 'Raleway', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #E9E9E9;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol {
  margin: 0 0 1.6em 0;
}

hr {
  width: 30%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light;
  margin: 1rem auto;
}

.fa {
  margin-right: .5em;
  margin-left: .2em;
  color: $highlight;
}

.wrapper {
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 2em 0;
  font-size: 1rem;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}

.date {
  font-size: .5em;
  margin: 2em;
  color: $light;
  text-transform: none;
  font-weight: normal;
  font-style: italic;
}

#sign_in_wrapper {

    span {
      color: darkred;
    }

    #sign_in {
    }

    #sign_out {
      text-decoration: none;
      color: $dark;
      &:hover {
        background-color: $highlight;
        color: white;
      }
    }

    .profile_image {
      margin-bottom: 1em;
      border: 1px solid lightgrey;
      border-radius: 15px;
    }
}

.twitter_list {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 2em;
  padding: 2em 0;
  p {
    color: $light;
    padding: 0 0 1em 0;
    margin: 0;
  }
  #list_title {
    color: darkred;
  }
  hr {
    padding: 0 0 1em 0;
    margin: 0 auto;
  }
}


@import "welcome.css.scss";
